<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'project.css' %}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a class="btn_info" href="./info"></a>
    <a class="btn_project" href="./project"></a>

    <a class="btn_info_2" href="./info"><div class=btn_info_2></div></a>
    <a class="btn_project_2" href="./project"><div class=btn_project_2></div></a>


    <div class="project_achieve">
        <div class="project project1">
            <div class="project_name">
                <span class="gray_text">&#60;</span><span class="blue_text">project1</span><span class="gray_text">&#62;</span><span class="white_text">&#09;INSTAGRAM&#09;</span><span class="gray_text">&#60;</span><span class="blue_text">/project1</span><span class="gray_text">&#62;</span>
            </div>
            <br>
            <div class="project1_img_div">
                <img src="../static/project1_img.JPG" class="project1_img"></img>
            </div>
        </div>

        <div class="project project2">
            <div class="project_name">
                <span class="gray_text">&#60;</span><span class="blue_text">project2</span><span class="gray_text">&#62;</span><span class="white_text">&#09;TOSS&#09;</span><span class="gray_text">&#60;</span><span class="blue_text">/project2</span><span class="gray_text">&#62;</span>
            </div>
            <br>
            <div class="project2_img_div">
                <img src="../static/project2_img.JPG" class="project2_img"></img>
            </div>
        </div>
    </div>

</body>
</html>