<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'hobby.css' %}">
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <h2>취미 카테고리 목록</h2>
   <div class="articles">
      <ul>
         <div class="articles_div">
         {% for article in articles %} 
         <li><div class="article_div"><a href="{% url 'detail' article.id %}" class="article_link">{{ article.title }}</a></div></li>
         {% endfor %}
         </div>
      </ul>
   </div>
</body>
</html>