
body{
    margin: 5% 35%;
    background-image: url('./back_img.jpg');
    background-size: cover; 
    color: black;
}

h2{
    margin-bottom: 10%;
}

.articles{
    background-color: whitesmoke;
    border-radius: 5px;
    height: auto;
    margin-bottom: 10%;
    box-shadow: 3px 3px 3px  gray;
}

.articles_div{
    padding: 5px 0;
}

.article_div{
    padding: 3px 0;
}

.article{
    text-decoration: none;
    color:black;
    font-weight: 700;
}

.article:hover{
    text-decoration: underline;
}

li::marker{
    color: black;
}


.button {
    background-color: whitesmoke;
    width: auto;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 13px;
    margin: 0 2%;
    font-weight: 700;
    box-shadow: 3px 3px 3px  gray;
    color: black;
}

.button:hover, .last_button:hover{
    text-decoration: underline;
}

.last_button_div{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.last_button{
    background-color: whitesmoke;
    width: 50%;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    padding: 3px 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    box-shadow: 3px 3px 3px  gray;
    
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
}